* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ul {
    list-style: none;
  }
}

body {
  min-width: 1226px;
}

.wrap {
  width: 1226px;
  margin: 0 auto;
}

.nav-bar {
  background-color: rgb(51, 51, 51);
  height: 40px;

  .nav {
    ul {
      display: flex;
      align-items: center;

      color: #b0b0b0;
      font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
        "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
      font-size: 12px;

      li {
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 7px;

        &:first-child {
          padding-left: 0;
        }

        &:hover {
          color: #fff;
          cursor: pointer;
        }
      }

      span {
        color: #424242;
        font-size: 12px;
      }
    }
  }

  .login {
    position: relative;
    top: -40px;
    left: 950px;
  }

  .cart {
    display: flex;
    justify-content: center;
    gap: 5px;
    position: relative;
    top: -80px;
    left: 1106px;
    width: 120px;
    height: 40px;
    align-items: flex-start;
    color: #b0b0b0;
    font-size: 12px;
    background-color: rgb(66, 66, 66);
    padding-top: 12px;
    cursor: pointer;

    &:hover {
      color: #ff6700;
      background-color: #fff;
    }
  }

  .icon-cart {
    width: 20px;
    height: 20px;
  }
}

.sub-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .sub-nav {
    display: flex;
    position: relative;
    font-size: 16px;
    left: 45px;
    gap: 20px;
    cursor: pointer;

    :hover {
      color: orangered;
    }

    .sub-list-container {
      display: inline-block;
      width: 100vw;
      height: 290px;
      background-color: rgba(255, 0, 0, 0.3);
      position: absolute;
      top: 60px;
      left: -285px;
      z-index: 200;

      .sub-list {
        position: relative;
        background-color: #fff;
        width: 1226px;
        height: 290px;
        margin: 0 auto;
        left: 6px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .el {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #333;

            img {
              width: 160px;
              height: 110px;

              border-left: 1px solid;
              border-right: 1px solid;
            }

            h4 {
              font-size: 10px;
              color: #333;
            }

            span {
              color: #ff6700;
            }
          }

          &:last-child a img {
            border-right: none;
          }
        }
      }
    }
  }
}

.logo {
  width: 56px;
  height: 56px;
  background-image: url(https://s02.mifile.cn/assets/static/image/logo-mi2.png);
  background-size: cover;
}

.search {
  display: flex;
  position: relative;

  input {
    width: 245px;
    height: 50px;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid #b0b0b0;

    &:focus {
      outline: none;
      border: 1px solid #ff6700;

      + button {
        border: 1px solid #ff6700;
        transition: 0;
      }
    }

    + button {
      display: flex;
      width: 50px;
      height: 50px;
      cursor: pointer;
      background-color: #fff;
      border: 1px solid #b0b0b0;
      align-items: center;
      justify-content: center;
      transition: 0.5s;

      &:hover {
        background-color: orangered;
        .icon-search {
          stroke: #fff;
        }
      }

      .icon-search {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.hero {
  position: relative;
  .aside {
    position: relative;
    width: 234px;
    height: 460px;
    background-color: rgba(105, 101, 101, 0.6);
    padding: 20px 0;
    color: #fff;
    z-index: 100;

    ul {
      li {
        font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
          Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
        height: 42px;
        width: 234px;
        padding-left: 30px;
        padding-right: 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
          background-color: orangered;

          ~ .aside-list {
            display: grid;
          }
        }
      }

      .aside-list {
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

        width: 992px;
        height: 460px;
        background-color: white;
        position: absolute;
        left: 234px;
        top: 0px;
        box-shadow: 0 0 20px rgb(0 0 0 / 10%);
        z-index: 999;

        .el {
          display: flex;
          padding-left: 20px;
          align-items: center;
          justify-content: left;
          cursor: pointer;

          img {
            width: 40px;
            height: 40px;
          }

          span {
            color: #000;
            &:hover {
              color: #ff6700;
            }
          }
        }
      }
    }

    .icon-right {
      width: 20px;
      height: 20px;
    }
  }

  .slider {
    height: 460px;
    width: 1226px;
    position: absolute;
    top: 0px;
    overflow: hidden;

    .imgs {
      display: flex;
      position: relative;
      height: 460px;
      left: 0px;
      transition: 1s;
    }

    img {
      width: 1226px;
      height: 460px;
    }

    .button {
      position: absolute;
      width: 980px;
      top: 210px;
      left: 240px;
      border: none;
      display: flex;
      justify-content: space-between;

      button {
        background-color: transparent;
        border: none;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);

          .icon-slider {
            stroke: #fff;
          }
        }
      }
    }

    .icon-slider {
      width: 40px;
      height: 40px;
      cursor: pointer;

      stroke: #888;
    }
  }
}

.sub-hero {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;

  .info {
    display: inline-block;
    width: 234px;
    height: 170px;
    padding: 3px;
    background-color: rgb(95, 87, 80);

    li {
      width: 76px;
      height: 82px;
      float: left;
      font-size: 12px;
      color: rgb(207, 204, 202);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        color: #fff;

        img {
          filter: drop-shadow(0 0 0 #fff);
        }
      }

      span img {
        width: 24px;
        height: 24px;
      }
    }
  }

  > a img {
    width: 316px;
    height: 170px;
  }
}

.shop {
  background-color: rgb(245, 245, 245);

  .banner {
    img {
      margin-top: 30px;
      margin-bottom: 50px;
      width: 1226px;
    }
  }

  .phone-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    span:first-child {
      font-size: 22px;
    }

    span:last-child {
      display: flex;
      gap: 5px;
      align-items: center;
      cursor: pointer;
      transition: 0.5s;
      color: rgb(176, 176, 176);

      &:hover {
        color: orangered;

        .icon-more {
          stroke: orangered;
        }
      }
    }

    .icon-more {
      width: 24px;
      height: 24px;
      stroke: rgb(176, 176, 176);
    }
  }

  .phones {
    height: 614px;
    display: flex;

    .left {
      height: 614px;
    }

    .p-8 {
      margin-left: 16px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 16px;

      a {
        text-decoration: none;
        width: 234px;
        height: 300px;
        background-color: #fff;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          font-size: 14px;
          font-weight: 400;
          color: #333;
          margin-top: 20px;
        }

        p {
          font-size: 12px;
          color: #b0b0b0;
          margin-top: 5px;
        }

        span {
          font-size: 14px;
          color: #ff6700;
          margin-top: 10px;
        }

        em {
          font-style: normal;
          font-size: 14px;
          text-decoration: line-through;
          color: #aaa;

          position: relative;
          top: -19px;
          left: 58px;
        }

        img {
          width: 160px;
          height: 160px;
        }

        &:hover {
          box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
          transform: translate3d(0, -2px, 0);
        }
      }
    }
  }
}
